/* Pagination css */

.custom-pagination {
    display: inline-flex;
    list-style: none;
}

.custom-pagination a {

    /* display: block; */
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1b5c9c;
    /* background-color: #fff; */
    border: 1px solid #17324d;
  }

  .centerText {
    display: flex;
    justify-content: center;
  }

  .alighnLeft {
    display: flex;
    justify-content: space-between;
  }

.search-width {
  width: '90%';
  height: 2em;
  margin-bottom: 1em;
}